:root {
  --card-width: 300px;
}

.card {
  border: 3px solid #0077f2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  width: var(--card-width);
  height: var(--card-width * 1.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: skew 1000ms ease-in-out;
  transition: transform 500ms ease-in-out;
}

@keyframes skew {
  0% {
    transform: rotate3d(0, -1, 0, 90deg);
  }

  100% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
}

.card:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.card:active {
  transform: scale(1);
}

.card--character {
  width: var(--card-width);
}
